
.container-fluid{

}



.jumbotron{ 
	background-image: "assets/images.background.jpeg";  /*this call isnt working*/
        
}

body{
        background-color: #a2e2db;
} 


.panel-body{
	background-color: orange;
	margin-bottom: 20px;

}

.bcrystal{
	height: 100px;
	width: 100px;
}
.crystalball{
	height: 100px;
	width: 100px;
}
.crystalgayle{
	height: 100px;
	width: 100px;
}
.crystallight{
	height: 100px;
	width: 100px;
}


                
